body
{
    background-color: #89efd7;
}
h1
{
    text-align: center;
}

#conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.règles
{
    border: solid dodgerblue 2px;
    border-radius: 3px;
    overflow: auto;
    word-break: break-word;
    padding: 7px;
    margin: 5px;
}

#Parties
{
    border: solid dodgerblue 2px;
    border-radius: 3px;
    overflow: auto;
    word-break: break-word;
    padding: 10px;
    margin: 7px;
}